
* {
    box-sizing: border-box;
}

html {
    background-image: url("../images/ep_naturalblack.png")
}

header{
background: #15A8D5;
height: 2em;
text-align: center;
padding: 0.5em;
font-family: "Amaranth";
font-size: 2.3em;
margin-bottom: 1em;
color: white;
}

img {
    width: auto;
    height: 8.8em;
    text-decoration: none;
    background: black;
}

#buttons {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2.5em;
    background: black;
    width: 50%;
    border: 0.15em solid #15A8D5;
    border-radius: 1em;
}

#instructions{
    font-size: 1.3em;
    background:white;
    border: 0.2em solid #15A8D5;
    color: #15A8D5;
    text-align: center;
    margin: 0 auto;
    width: 65%;
    padding: 1em;
    border-radius: 1em;
    line-height: 1.3em;
    font-family: "Playfair Display";
    font-weight: bold;
}

.button {
    border-color: black;
    background: black;
}

h2, h3 {
    color: white;
    font-family: "Fredoka One";
}

#number, #cvalue, #wins, #losses{
font-size: 1.7em;
background:#15A8D5;
width: 25%;
text-align: center;
margin: 0 auto;
margin-top: 1.5em;
margin-bottom: 1em;
border-radius: 1em;
height: 2em;
padding: 0.5em;
align-content: center;
}


